@import "tailwindcss";

/* @theme {
  --font-cormorant: var(--font-heading);
} */

@layer components {
  .font-cormorant {
    font-family: var(--font-heading);
  }

  .brd {
    border: 1px solid red;
  }

  .brb {
    border: 1px solid blue;
  }
}

/* @utility brd {
  @apply border border-solid border-red-500;
}

@utility brb {
  @apply border border-solid border-blue-500;
} */
