@import "tailwindcss";

/* @theme {
  --font-cormorant: var(--font-heading);
} */
/* globals.css */

@layer components {
  .font-cormorant {
    font-family: var(--font-heading);
  }

  .brd {
    border: 1px solid red;
  }

  .brb {
    border: 1px solid blue;
  }
}
